.button {
  display: block;
  cursor: pointer;
  width: 65px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  scale: 1;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  opacity: 0.4;
}

.button--active {
  opacity: 1;
}

.button--hovered:not(.button--active) {
  opacity: 0.7;
}

.button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
