.button {
  display: block;
  cursor: pointer;
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  scale: 1;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
