.button {
  display: block;
  cursor: pointer;
  width: 65px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  scale: 1;
  transition: transform 200ms ease-in-out;
  opacity: 0.4;

  &--active {
    opacity: 1;
  }

  &--hovered {
    &:not(.button--active) {
      opacity: 0.7;
    }
  }

  &:active {
    transform: scale(0.9);
  }
}
