.accordion-body {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition-property: height opacity;
  transition-duration: 0.3s;

  &__content {
    padding: 20px 30px;
    background-color: rgb(245, 245, 245);
  }

  &--active {
    opacity: 1;
  }
}
